<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header') %>
</head>

<body>
    <main>
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/index/add-user" class="border-shadow">
                    <span>New User</i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < users.length; i++) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <a href='/index/<%= users[i]._id%> %>'>
                                        <%=users[i].name %>
                                    </a>
                                </td>
                                <td>
                                    <%= users[i].email %>
                                </td>
                                <td>
                                    <%= users[i].gender %>
                                </td>
                                <td>
                                    <%= users[i].status %>
                                </td>
                                <td>
                                    <a href="/index/<%= users[i]._id%>/edit" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fa fa-pencil"></i></span>
                                    </a>
                                    <form action="/index/<%= users[i]._id %>?_method=DELETE" method="post" style="display: inline;">
                                        <button type="submit">
                                        <span class="text-gradient"><i class="fa fa-times"></i></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>

</html>