<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="box-nav d-flex justify-between">
        <div class="filter">
            <a href="/"><i class="fa fa-angle-double-left"></i> All Users</a>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px; display: flex; align-items: center; justify-content: end;">
        <div class="row g-0">
          <div class="col-4">
            <img src="https://i.imgur.com/GMnkRbR.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><%= user.name %></h5>
              <p class="card-text"><%= user.email %></p>
              <p class="card-text"><%= user.position %></p>
              <p class="card-text"><%= user.age %></p>
              <p class="card-text"><%= user.gender %></p>
              <p class="card-text"><%= user.status %></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>